#events-section .card {
    height: 90vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
#events-section .card-img-top {
    height: 40vh;
    object-fit: cover;
    object-position: center;
}
  
#events-section .card-body {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  